/*
dark blue:		1435B2
med blue:		3660FF
lite blue:		5074FF
light sand:		FFD766
dark sand:		B28402
*/

* {
	margin: 0px;
	border-width: 3px;
	box-sizing: border-box;
}

body {
	font-size: 1.5em;
	padding: 1em;
}

header {
	font-size: 1.5em;
	color: #1435B2;
	background-image: url(puzzle.png);
	background-position: left;
	background-repeat: no-repeat;
	height: 100px;
}

h1 {
	text-align: center;
	height: 94px;
	padding-left: 10px;
}

nav {
	padding: 3px;
}

nav ul {
	text-align: center;
	padding: 3px;
}

nav ul li {
	display: inline-block;
	border-style: outset;
	width: 180px;
}

nav a {
	list-style-type: none;
	color: #1435B2;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

main {
	max-width: 60%;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

footer {
	color: #1435B2;
	text-align: center;
}

.link {
	color: #1435B2;
}

form {
	width: 80%;
	margin: auto;
}

form legend {
	text-align: center;
	font-weight: bold;
	color: #1435B2;
}

form a {
	width: 300px;
	color: #FFFFFF;
	border-style: outset;
	border-color: #FFD766;
	background-color: #B28402;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	margin-top: 5px;
}

.left {
	float: left;
}

label {
	float: left;
	clear: left;
	width: 250px;
	text-align: right;
	margin-right: 5px;
}

.clear {
	text-align: center;
	clear: both;
}

div {
	margin: 5px;
}